@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Steph";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'd like some ice cream.</p>

@{
    int index = 0;
    foreach (int number in ViewBag.MyList)
    {
        <p>Element [ @index ] : @number</p>
        index++;
    }
}

